<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>Booking</title> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<h1>Buscar habitaciones disponibles</h1>
	
	<form th:action="@{/rooms}" th:object="${rooms}" method="post" enctype="multipart/form-data">

		<div class="form-group row">
		<div class="col-xs-2">
		  <label for="ex1">Desde (yyyy-mm-dd)</label>
		  <input class="form-control" name="from" th:attr="value = ${from}" type="text"/>
		</div>
		<div class="col-xs-2">
		  <label for="ex2">Hasta (yyyy-mm-dd)</label>
		  <input class="form-control" name="to" th:attr="value = ${to}" type="text"/> 
		</div>
		<div class="col-xs-2">
		  <label for="ex3">Ocupantes</label>
		  <input class="form-control" name="sleeps" type="text"/>
		</div>
	  </div>

	  <div align="center"></div>
	  <table class="table table-sm">
		<tr>
			<th>
				Habitacion
			</th>
			<th>
				Precio diario
			</th>
			<th>
				Capacidad
			</th>
			<th>
				Servicios
			</th>
			<th>
				Reservar
			</th>
		</tr>
		<tr th:each="room : ${listRooms}">
			<td th:text="${room.name}"></td>
			<td th:text="${room.price}"></td>
			<td th:text="${room.occupancy}"></td>
			<td th:text="${room.facilities}"></td>
			<td>

				<a th:href="@{/bookingDetail/{id}/{from}/{to}/{name}/{price}/{occupancy}/{facilities}(id=${room.idRoom},from=${from},to=${to},name=${room.name},price=${room.price},occupancy=${room.occupancy},facilities=${room.facilities})}"><span>Reservar</span></a>
			</td>
		</tr>
	</table>
</div>
		
		<div>
			<button type="submit" class="btn btn-success">Buscar</button>
			<button type="button" class="btn btn-primary" th:onclick="|window.location.href='/'|"> Volver</button>
		</div>
	</form>
</body>
</html>