<!DOCTYPE HTML>
<html xmlns = "http://www.w3.org/1999/xhtml" 
   xmlns:th = "http://www.thymeleaf.org" 
   xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Reservas</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<form th:action="@{/bookingConfirm}" th:object="${booking}" method="post" enctype="multipart/form-data">
	<h1>Detalle de reserva</h1>

	Desde fecha<input readonly="readonly" type="text" th:field="*{checkIn}"" />
	Hasta fecha<input readonly="readonly" type="text" th:field="*{checkOut}" />
		
	<table class="table table-sm">
			<tr>
				<td>
					Habitacion: <b th:text="${id}" /> 
				</td>
			</tr>
	</table>
	
	<table class="table table-sm">
		<tr>
			<td>
				Desde fecha: <b th:text="${from}"></b>
			</td>

			<td>
				Hasta fecha: <b th:text="${to}"></b>
			</td>
		</tr>
	</table>





	

	<!--
	
	<form th:action="@{/room/{id}/bookings(id=${room.id})}" method="post" enctype="multipart/form-data" >
			<div>
				From: <input name="from" />
			</div>
			<div>
				To: <input name="to" />
			</div>
			<div>
				<input type="submit" value="Reserve" name="button"/>
			</div>-->

			<button type="submit" class="btn btn-success">Confirmar reserva</button>
			<button type="button" class="btn btn-primary" th:onclick="|window.location.href='/'|"> Volver</button>
	</form>
	
	
</body>
</html>