<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  <meta charset="UTF-8">
    <!-- Bootstrap CSS 
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>  
    <form th:action="@{/cancellationConfirm}" method="post" enctype="multipart/form-data">
  <div class="col-xs-2 col-md-offset-4 col-md-4">
  <h2>Desea Cancelar la reserva?</h2>
  <table class="table table-sm table-condensed">
		<tr>
			<td>
        <button type="submit" class="btn btn-success">Confirmar cancelacion?</button>
      </td>
			<td>
        <button type="button" class="btn btn-primary" th:onclick="|window.location.href='/userBookings'|">Volver</button>
      </td>
      <tr>
        <td>
          Devolución del 90% del total si no fue contratado el servicio de cancelacion gratuita
        </td>
      </tr>
    </table>      
 </div>
  </form>
</body>
</html>