<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Bootstrap CSS 
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>  
<form action="#" th:action="@{/payment}" th:object="${Payment}" method="post">
<p th:text=${mensaje}></p>
  
<div class="col-xs-2 col-md-offset-2 col-md-2">
<h2>Registracion</h2>
  <table class="table table-sm table-condensed">
		<tr>
			<td>
        Nombre <input type="text" class="form-control" id="card" th:field="*{card}" name="card">
      </td>
    </tr>

		<tr>
			<td>
       Apellido <input type="text" class="form-control" id="cardNumber" th:field="*{cardNumber}" name="cardNumber">
      </td>
    </tr>
   
		<tr>
			<td>
        Fecha de nacimiento <input type="text" class="form-control" id="birthDate" th:field="*{birthDate}" name="birthDate">
      </td>
    </tr>
     
    </table>  
    <button type="submit" class="btn btn-success">Confirmar pago</button>
    <button type="button" class="btn btn-primary" th:onclick="|window.location.href='/'|"> Cancelar</button>
 </div>

<script>
  function goBack() {
    window.history.back();
  }
  </script>
  
  </form>
</body>
</html>