<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--librerias jquery para el calendario y fuciones desde el lado del cliente-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <link rel="stylesheet"	href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!--incluir funciones javascript desde un archivo en la carpeta static-->
    <script type="text/javascript" th:src="@{/js/functions.js}"></script>
  </head>
  <body>  
    <form action="#" th:action="@{/adduser}" th:object="${User}" method="post">
      <div class="col-xs-2 col-md-offset-4 col-md-4">
    <h2>Registracion</h2>
    <p style=color:#FF0000; th:text=${mensaje}></p>
    <table class="table table-sm table-condensed">
		  <tr>
			  <td>
          Nombre <input type="text" class="form-control" id="firstName" th:field="*{firstName}" name="firstName">
        </td>
      </tr>
		  <tr>
			  <td>
        Apellido <input type="text" class="form-control" id="lastName" th:field="*{lastName}" name="lastName">
        </td>
      </tr>
		  <tr>
			  <td>
          Fecha de nacimiento <input type="text" class="form-control" autocomplete="off" readonly="readonly" id="birthDate" th:field="*{birthDate}"  name="birthDate">
        </td>
      </tr>
		  <tr>
			  <td>
          email <input type="text" class="form-control" id="email" th:field="*{email}" name="email">
          <span class="field-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</span>
        </td>
      </tr>
		  <tr>
			  <td>
          Password <input type="password" class="form-control" id="password" th:field="*{password}" name="password">
        </td>
      </tr>
		  <tr>
			  <td>   
          Nacionalidad <input type="text" class="form-control" id="nationality" th:field="*{nationality}" name="nationality">
        </td>
      </tr>
    
    </table>  
    <button type="submit" class="btn btn-success">Guardar</button>
    <button type="button" class="btn btn-primary" th:onclick="|window.location.href='/'|"> Volver</button>
 </div>

<script>
  function goBack() {
    window.history.back();
  }
  </script>
  
  </form>
</body>
</html>