<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Bootstrap CSS 
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>  
<form action="#" th:action="@{/adduser}" th:object="${User}" method="post">
<p th:text=${mensaje}></p>
  
<div class="col-xs-2 col-md-offset-2 col-md-2">
<h2>Registracion</h2>
  <table class="table table-sm table-condensed">
		<tr>
			<td>
        Nombre <input type="text" class="form-control" id="firstName" th:field="*{firstName}" name="firstName">
      </td>
    </tr>

		<tr>
			<td>
       Apellido <input type="text" class="form-control" id="lastName" th:field="*{lastName}" name="lastName">
      </td>
    </tr>
   
		<tr>
			<td>
        Fecha de nacimiento <input type="text" class="form-control" id="birthDate" th:field="*{birthDate}" name="birthDate">
      </td>
    </tr>
   
		<tr>
			<td>
        email <input type="text" class="form-control" id="email" th:field="*{email}" name="email">
        <span class="field-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</span>
      </td>
    </tr>

		<tr>
			<td>
        Password <input type="text" class="form-control" id="password" th:field="*{password}" name="password">
      </td>
    </tr>
 
		<tr>
			<td>   
       Nacionalidad <input type="text" class="form-control" id="nationality" th:field="*{nationality}" name="nationality">
      </td>
    </tr>
    
    </table>  
    <button type="submit" class="btn btn-success">Guardar</button>
    <button type="button" class="btn btn-primary" th:onclick="|window.location.href='/'|"> Volver</button>
 </div>

<script>
  function goBack() {
    window.history.back();
  }
  </script>
  
  </form>
</body>
</html>